.politics_row{
      .politics_section_cat_title {
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1.6;
      color: rgb(76, 76, 77);
  
      &:hover {
        color: red;
        cursor: pointer;
      }
    }
    .politics-section-thumb-container {
        width: 100%;
        height: 340px;
        overflow: hidden; 
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1s ease;
      }
      .readmore_button{
        background-color: black;
      }
      .readmore_button:hover{
        background-color: rgb(255, 153, 0);
        border: none;
      }
      .publisher{
    margin-bottom: 12px;
     display:flex;
     gap: 25px;
     flex-wrap: wrap;
      }
      .publisher li{
        display: flex;
        align-items: center;
        color: gray;
        font-size: 13px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: .52px;
        text-transform: uppercase;
        gap: 10px;
         }
      .writer:hover{
        color: red;
        cursor: pointer;
      }
  
    .politics_section_title {
      color: inherit;
      margin-bottom: 12px ;
      font-weight: bold;
      line-height: 1.4;
      letter-spacing: 1px;
      font-size: 22px;
      display: inline;
      padding-bottom: 0;
      transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
      background-image: linear-gradient(180deg, currentColor 0, currentColor 98%);
      background-size: 0 1px;
      background-repeat: no-repeat;
      background-position: left 100%;
    }
  
    &:hover {
      .politics_section_title {
        background-size: 100% 1px;
      }
  
      img{
        transform: scale(1.2);
      }
    }
}
  
  
  