.search_form{
    display: flex;
    gap: 12px;
    margin-right: 10px;
}
.search_input{
padding: 7px;
border: none;
border-radius: 10px;
}
.search-icon{
    color: aliceblue;
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin-top: 8px;
}
.search-icon:hover{
    color: rgb(172, 186, 189);
   
}