.politics-post-section {   
    .section-title-wrap {
          display: flex;
      align-items: center;
      gap: 30px;
      justify-content: space-between;
      position: relative;
      padding-bottom: 20px;
  
      .section-title {
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 15px;
        justify-content: space-between;
  
        .title {
        
          font-size: 24px;
          margin-bottom: 10px;
          color: rgb(32, 32, 81);
          font-weight: bold;
        }
  
        .section-title-line {
          width: 78%;
          height: 5px;
          background-color: rgb(249, 248, 248);
          position: relative;
          margin-top: 10px;
          top: -5.5px;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: -1px;
            width: 40px;
            height: 5px;
            background-color: rgb(243, 123, 44);
          }
  
          &:after {
            content: "";
            position: absolute;
            left: 36px;
            top: -1.5px;
            height: 6px;
            background-color: rgb(238, 239, 240);
            width: 3px;
            clip-path: polygon(40% 0, 100% 0, 60% 100%, 0 100%);
          }
        }
      }
    }
  }
  